#pass-header {
  color: #fff;
  background-color: #001b9a;
}

#pass-header div{
    color: #fff;
    background-color: #001b9a;
  }

  #pass-footer{
    color: #fff;
    background-color: #001b9a;
  }  
